<mat-card *ngIf="moment" class="bg bg-warning border border-dark">
    <div class="d-flex justify-content-between">
        <mat-card-header>
            <mat-card-title class="text-success">{{moment.heading}}</mat-card-title>
            <mat-card-subtitle class="p-6">{{moment.formatted_date}}</mat-card-subtitle>
        </mat-card-header>

        <h3 class="text-success">{{moment.emotion}}</h3>
    </div>
    <div  class="d-flex justify-content-between">
        <mat-card-content style="font-weight: bold; font-size : 16px">
            {{moment.description}}
        </mat-card-content>
   
       <div>
         <button mat-icon-button (click)="getMoment()" ><mat-icon>editor</mat-icon></button>
         <button mat-icon-button (click)="deleteMoment()" ><mat-icon>delete</mat-icon></button>
       </div>
    </div>
</mat-card>